:root {
  --main-bg-color-blue: #e4e8f1;
  --main-bg-color-green: #e7fef0;
  --main-bg-color-orange: #feebe7;
  --main-bg-color-purple: #f6e7fe;
  --main-bg-color-pink: #fee7f0;
  --main-bg-color-dark: black;

  --app-max-width: 400px;
}

body, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.App.blue {
  background-color: var(--main-bg-color-blue);
}

.App.green {
  background-color: var(--main-bg-color-green);
}

.App.orange {
  background-color: var(--main-bg-color-orange);
}

.App.purple {
  background-color: var(--main-bg-color-purple);
}

.App.pink {
  background-color: var(--main-bg-color-pink);
}

.App.dark {
  color: white;
  background-color: var(--main-bg-color-dark);
}


.full-width {
  width: 100vw;
}
